<div class="wrapper">

  <app-sidebar></app-sidebar>

  <div class="main-panel">

    <!-- Navbar -->
    <app-header></app-header>

    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">

        <!-- <div class="copyright float-right">
              &copy;
              <script>
                document.write(new Date().getFullYear())
              </script>, made with <i class="material-icons">favorite</i> by
              <a href="#" target="_blank">Creative Tim</a> for a better web.
        </div> -->
      </div>
    </footer>
  </div>
</div>
