<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header mt-4">
                    <h4 class="card-title text-center">Información del Usuario</h4>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="material-icons">face</i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="{{ usuario.nombre}}" disabled>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="material-icons">account_box</i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="{{ usuario.login}}" disabled>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="material-icons">email</i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="{{ usuario.email}}" disabled>
                            </div>

                            <div class="container mt-5">
                                <div class="text-center">
                                    <h4 class="card-title text-center">Escoger Perfil</h4>
                                    <hr>
                                </div>
                            </div>
                            <ul class="list-group">
                                <a class="list-group-item" *ngFor="let item of perfiles">
                                    <a class="btn btn-sm btn-link text-warning" (click)="irPaginaPrincipal( item )">
                                        <i class="material-icons mr-4">login</i>
                                    </a>
                                    {{ item.per_nombre }}
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>